#loadingText {
  text-align: center;
}

#loadingIcon {
  margin: auto;
  color: #e02c34;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.linkContainer {
  width: 100%;
  z-index: 1;
}

.mat-mdc-cell {
  padding: 20px 0 20px 24px;
}

.mat-column-status {
  flex: 0.7;
  padding-left: 24px;
}

.mat-column-modifiers {
  flex: 0.6;
}

mat-cell.mat-column-modifiers {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mat-column-modifiers .modifierTableEntry {
  margin-bottom: 3px;
}

.mat-column-response {
  flex: 2.5;
}

.mat-column-image {
  flex: 0.9;
}

.altShadeRow {
  background-color: #f5f5f5;
}

mat-row {
  transition: background-color 0.5s;
}

mat-row:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}

@media (max-width: 700px) {
  .mat-mdc-cell {
    font-size: 10px;
  }

  .imageContainer img {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 400px) {
  .mat-mdc-cell {
    font-size: 8px;
  }

  .imageContainer img {
    width: 40px;
    height: 40px;
  }

}
