<mat-table id="resultTable" [dataSource]="dataSource" *ngIf="showTable">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let result">{{result.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="response">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let result">{{result.response}}</mat-cell>

  </ng-container>

  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let result">
      <div class="imageContainer">
        <img *ngIf="isValidURL(result.image)" [src]="result.image" />
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let result">
      <div class="linkContainer">
        <a [href]="result.url" (click)="$event.stopPropagation()" *ngIf="isValidURL(result.url)">Click Here</a>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnDefinitions"  ></mat-header-row>

  <mat-row *matRowDef="let row; columns: columnDefinitions"
           [routerLink]="['/result-details', row.id]"
           [class.altShadeRow]="isAltShade(row.id)"
  ></mat-row>


</mat-table>
<mat-paginator [length]="21" [pageSize]="3"
               [pageSizeOptions]="[3, 5, 10, 21]" [style.display]="getPaginatorStyle()"></mat-paginator>
<p *ngIf="!showTable" id="loadingText">Loading table data...</p>
