<mat-table id="resultTable" [dataSource]="dataSource" *ngIf="showTable">

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let result; let i = index">{{result.status}} ({{result.date | date:'mediumTime'}})</mat-cell>
  </ng-container>

  <ng-container matColumnDef="response">
    <mat-header-cell *matHeaderCellDef>Response</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let result">{{result.response}}</mat-cell>

  </ng-container>

<!--  <ng-container matColumnDef="image">-->
<!--    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>-->
<!--    <mat-cell class="duration-cell"-->
<!--              *matCellDef="let result">-->
<!--      <div class="imageContainer">-->
<!--        <img *ngIf="isValidURL(result.image)" [src]="result.image" />-->
<!--      </div>-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

  <ng-container matColumnDef="modifiers">
    <mat-header-cell *matHeaderCellDef>Modifiers</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let result">
      <span class="modifierTableEntry" *ngFor="let modifier of modifierDefinitions">
        {{modifier | titlecase}}: {{result.modifiers[modifier]}}
      </span>
    </mat-cell>
  </ng-container>

<!--  <ng-container matColumnDef="url">-->
<!--    <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>-->
<!--    <mat-cell class="duration-cell"-->
<!--              *matCellDef="let result">-->
<!--      <div class="linkContainer">-->
<!--        <a [href]="result.url" (click)="$event.stopPropagation()" *ngIf="isValidURL(result.url)">Click Here</a>-->
<!--      </div>-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

  <mat-header-row *matHeaderRowDef="columnDefinitions"  ></mat-header-row>

  <mat-row *matRowDef="let row; let i = index; columns: columnDefinitions"
           [routerLink]="['/result-details', row.id]"
           [class.altShadeRow]="isAltShade(i)"
  ></mat-row>


</mat-table>
<mat-paginator [length]="getDataLength()" [pageSize]="3"
               [pageSizeOptions]="[3, 5, 10]" [style.display]="getPaginatorStyle()"></mat-paginator>
<p *ngIf="!showTable" id="loadingText">Loading table data...</p>
<mat-progress-spinner *ngIf="!showTable" id="loadingIcon" mode="indeterminate" color="warn"></mat-progress-spinner>
