<img src="assets/angular%20image.png">
<h2 id="searchTitle">Search Bar and Result</h2>
<!--<div id="searchContainer">-->
<!--  <div id="searchBarContent">-->
<!--    <input id="searchInput" value="Search Text">-->
<!--    <button id="enterButton">Enter</button>-->
<!--  </div>-->
<!--  <div id="resultContent">-->
<!--    <input id="resultBox" value="Result Text" readonly>-->
<!--  </div>-->
<!--</div>-->
<app-search id="searchBar" [cssClass]="'centerDisplay'" ></app-search>
<app-footer></app-footer>
