#title {
  text-align: center;
  font-size: 24px;
  margin-bottom: .25rem;
  margin-top: 2rem;
}

#modifierContainer {
  display: flex;
  justify-content: space-around;

  padding: 0 20px 10px;
}

.searchDisplay #modifierContainer {
  width: 585px;
  margin: auto;
  border: solid rgb(141, 151, 173)
}

.modifierColumn {
  display: flex;
  flex-direction: column;
}

.columnTitle {
  margin-top: .5rem;
  margin-bottom: .1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

:host ::ng-deep .mat-mdc-radio-button {
  display: block !important;
}

:host ::ng-deep  #detail .mat-mdc-radio-button {
  padding-left: 12%;
}

:host ::ng-deep  #format .mat-mdc-radio-button {
  padding-left: 12%;
}

:host ::ng-deep .mdc-form-field {
  margin: auto;
}


:host ::ng-deep .mdc-form-field>label {
  margin-bottom: 2px;
  color: rgb(141, 151, 173);
  font-family: "Segoe UI", sans-serif;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio {
  padding: 0 !important;
}

/*RESULT SCREEN SPECIFIC STYLES*/

.resultDisplay, .resultDisplay #modifierContainer {
  height: 100%;
}

.resultDisplay #modifierContainer {
  border-bottom: solid rgb(141, 151, 173)
}

.resultDisplay h3 {
  display: none;
}

.resultDisplay .modifierColumn {
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .resultDisplay #modifierContainer {
    width: 500px;
    margin: auto;
    border: none;
  }

  .resultDisplay h3 {
    display: block
  }

}

@media (max-width: 612px) {
  #modifierContainer {
    width: 264px;
  }
}
