
.resultDisplay {
  border: solid;
  max-height: 216px;
}

.resultDisplay #searchBarContent {
  padding-top: 5%;
  padding-bottom: 5%;
}

.centerDisplay {
  width: 585px;
  aspect-ratio: 2;
  position: fixed;
  top: 41%;
  left: 50%;
  margin-left: -292px;
  margin-top: -146px;
  border: solid;
}

#searchContainer > * {
  padding-left: 7%;
  padding-right: 7%;
  height: 25%;
  display: flex;
}

#searchContainer > * > * {
  font-size: 2em;
}

#searchBarContent {
  padding-top: 6%;
  padding-bottom: 6%;
}

#searchInput {
  width: 66%;
  margin-right: 4%;
}

#enterButton {
  width: 30%;
}


#resultContent {
  padding-top: 6%;
  padding-bottom: 6%;

}

.resultDisplay > #resultContent {
  padding-top: 0;
}

#resultBox {
  width: 100%;
}


@media (max-height: 800px) {
  .centerDisplay {
    position: static;
    margin: auto;
  }
}

@media (max-width: 1600px) {

  .resultDisplay {
    font-size: 0.8em;
  }
}


@media (max-width: 1400px) {
  .resultDisplay #searchBarContent {
    padding-bottom: 6%;
  }
}

@media (max-width: 612px) {

  .centerDisplay {
    width: 264px;
    top: 50%;
    left: 50%;
    margin-left: -132px;
    margin-top: -100px;
    position: fixed;
  }

  .resultDisplay {
    width: 280px;
    margin: auto;
    font-size: 1.5em;
  }

  #searchContainer > * > * {
    font-size: 1em;
  }
}

@media (max-width: 390px) {

  .centerDisplay {
    width: 264px;
    position: fixed;
    margin-left: -130px;
  }

  #searchTitle {
    font-size: 1em;
  }

}


