
.resultDisplay {
  border-bottom: solid;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.resultDisplay #searchBarContent {
  margin-top: 3%;
  margin-bottom: 3%;
}

.resultDisplay #resultContent {
  margin-bottom: 3%;
}

.centerDisplay {
  width: 585px;
  aspect-ratio: 2;
  margin: auto;
  border: solid;
  display: flex;
  flex-direction: column;
}

.centerDisplay #resultContent {
  margin-top: 6%;
}

#searchContainer > * {
  padding-left: 7%;
  padding-right: 7%;
  height: 25%;
  display: flex;
}

#searchContainer > * > * {
  font-size: 2em;
}

#searchBarContent {
  margin-top: 6%;
  margin-bottom: 6%;
}

#searchInput {
  width: 66%;
  margin-right: 4%;
}

#enterButton {
  width: 30%;
}

#resultBox {
  width: 100%;
}


@media (max-height: 800px) {
  .centerDisplay {
    position: static;
    margin: auto;
  }
}

@media (max-width: 1600px) {

  .resultDisplay {
    font-size: 0.8em;
  }
}


@media (max-width: 1400px) {

}

@media (max-width: 612px) {

  .centerDisplay {
    width: 264px;
    top: 50%;
    left: 50%;
    margin-left: -132px;
    margin-top: -100px;
    position: fixed;
  }

  .resultDisplay {
    width: 280px;
    margin: auto;
    font-size: 1.5em;
    border: solid;
  }

  #searchContainer > * > * {
    font-size: 1em;
  }
}

@media (max-width: 390px) {

  .centerDisplay {
    width: 264px;
    position: fixed;
    margin-left: -130px;
  }

  #searchTitle {
    font-size: 1em;
  }

}


