#resultContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#contentContainer {
  padding-bottom: 200px;
}

#topBar {
  display: flex;
  align-items: stretch;
}

#logoFlexContainer {
  flex-basis: 20%;
  border-bottom: solid;
  max-height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#logoDiv {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#logo {
  height: 100px
}

#logo:hover {
  cursor: pointer;
}


#logoDiv > h3 {
  margin-top: 6px;
  font-size: 1rem;

}


#topBarSearch {
  flex-basis: 35%;
  height: 100%;
}

#topBarMenu {
  flex-basis: 45%;
}


#listContainer {
  margin: 30px auto 0;
}

@media (max-width: 1150px) {
  #logoDiv > h3 {
    font-size: 0.8em;
  }
}

@media (max-width: 760px) {
  #logoDiv > h3 {
    font-size: 0.5em;
  }
}

@media (max-width: 1000px) {
  #topBar {
    display: block;
    align-items: stretch;
  }

  #logoFlexContainer {
    border: none;
  }

  #logoDiv > h3 {
    font-size: 1em;
  }
}
